<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/logo.jpg" type="image/ico" />
    <title>CUCHOANG SALON</title>
    <!-- Bootstrap -->
    <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title text-center" style="border: 0;">
              <a href="index.html" class="site_title">
                <span>CUCHOANG SALON</span>
              </a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/avatar.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Xin chào,</span>
                <h2>Thu Ngân</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li>
                    <a>
                      <i class="fa fa-home"></i> Trang chủ <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="index.html">Tổng quan</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Quản lý thanh toán <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="laphoadon.html">Lập hóa đơn</a>
                      </li>
                      <li>
                        <a href="danhsachhoadon.html">Danh sách hóa đơn</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Quản lý khách hàng <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="themmoikhachhang.html">Thêm mới khách hàng</a>
                      </li>
                      <li>
                        <a href="danhsachkhachhang.html">Danh sách khách hàng</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Quản lý thẻ <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="taomoithe.html">Tạo mới thẻ</a>
                      </li>
                      <li>
                        <a href="danhsachthe.html">Danh sách thẻ</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Quản lý dịch vụ <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li>
                        <a href="themmoinhomdichvu.html">Thêm mới nhóm</a>
                      </li>
                      <li>
                        <a href="themmoidichvu.html">Thêm mới dịch vụ</a>
                      </li>
                      <li>
                        <a href="danhsachdichvu.html">Danh sách dịch vụ</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Quản lý nhân viên <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="themnhanvien.html">Thêm nhân viên</a>
                      </li>
                      <li>
                        <a href="danhsachnhanvien.html">Danh sách nhân viên</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-edit"></i> Báo cáo thống kê <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                      <li>
                        <a href="lapbaocao.html">Lập báo cáo</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <div class="nav toggle">
              <a id="menu_toggle">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/avatar.png" alt="">Thu Ngân </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="javascript:;"> Thông tin tài khoản</a>
                    <a class="dropdown-item" href="javascript:;"> Đổi mật khẩu</a>
                    <a class="dropdown-item" href="login.html">
                      <i class="fa fa-sign-out pull-right"></i> Đăng xuất </a>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left"></div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Danh sách hóa đơn</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-4">
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 ">Ngày bắt đầu</label>
                            <div class="col-md-9 col-sm-9 ">
                              <input class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                              <script>
                                function timeFunctionLong(input) {
                                  setTimeout(function() {
                                    input.type = 'text';
                                  }, 60000);
                                }
                              </script>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 ">Ngày kết thúc</label>
                            <div class="col-md-9 col-sm-9 ">
                              <input class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                              <script>
                                function timeFunctionLong(input) {
                                  setTimeout(function() {
                                    input.type = 'text';
                                  }, 60000);
                                }
                              </script>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                  <label class="col-form-label col-md-3 col-sm-3 ">Người lập HĐ</label>
                                  <div class="col-md-9 col-sm-9 ">
                                      <select class="form-control">
                                          <option>Tất cả</option>
                                          <option>Hương</option>
                                      </select>
                                  </div>
                              </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                            <br>
                              <div class="offset-md-4">
                                  <button type="button" class="btn btn-primary">Hủy</button>
                                  <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                  <button type="submit" class="btn btn-info">Xuất danh sách HĐ</button>
                              </div>
                          </div>
                      <div class="ln_solid"></div>
                      </div>

                      <div class="col-md-12">
                        <div class="card-box table-responsive">
                          <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                              <tr>
                                <th class="text-center">STT</th>
                                <th>Tên khách hàng</th>
                                <th>Tổng tiền hóa đơn</th>
                                <th>Thời gian lập</th>
                                <th class="text-center">Người lập</th>
                                <th class="text-center">#</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-center">1</td>
                                <td>Trần Mạnh Hùng</td>
                                <td>838.300</td>
                                <td>11:42:56 02/08/2022</td>
                                <td class="text-center">Hương - Thu Ngân</td>
                                <td class="text-center">
                                  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#chitiethoadon">Xem chi tiết</button>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-center">2</td>
                                <td>Trần Tăng Dương</td>
                                <td>838.300</td>
                                <td>11:42:56 01/08/2022</td>
                                <td class="text-center">Hương - Thu Ngân</td>
                                <td class="text-center">
                                  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#chitiethoadon">Xem chi tiết</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
          <div class="pull-right"> Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
        <!-- Modal Chi tiết hóa đơn -->
        <div class="modal fade" id="chitiethoadon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content  ">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết hóa đơn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Tên khách hàng: <b>Trần Mạnh Hùng</b></p>
                <p>Tên nhân viên lập hóa đơn: <b>Hương</b></p>
                <p>Thời gian lập hóa đơn: <b>11:41:22 03/08/2022</b></p>
                <p>Hình thức thanh toán: <b>Chuyển khoản</b></p>
                <p>Nhân viên hỗ trợ làm Nail: <b>Tùng, Thành, Lâm</b></p>
                <p>Nhân viên hỗ trợ làm Tóc: <b>Ngân, Hà</b></p>
                <p>Nhân viên hỗ trợ làm Spa: <b>Lan, Linh</b></p>
                <p>Tổng tiền: <b>838.300</b></p>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên dịch vụ</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Đơn giá</th>
                      <th scope="col">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Cắt tóc</td>
                      <td>1</td>
                      <td>250.000</td>
                      <td>250.000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Làm móng</td>
                      <td>2</td>
                      <td>290.000</td>
                      <td>580.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">In hóa đơn</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->
      </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Content/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/js/custom.min.js"></script>
  </body>
</html>